.banner {
    background: linear-gradient(to bottom, rgba(5, 219, 242, 0.6), rgba(255,255,255,1)),
    url('../images/banner-image.jpg');
    min-height: 600px;
    width: 100%;
    background-position: center bottom;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
        color: #ffffff;
        text-transform: uppercase;
        position: relative;
        z-index: 2;
        text-align: center;
    }
}